* {
  box-sizing: border-box;
}

html {
  background-color: #f0f0f0; /* color outside body */
}

body {
  font-family: sans-serif;
  margin: 46px;
  padding: 46px;
  background-color: #e5e4e2; /* color within body */
}

h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-inline-start: 20px;
}

.avatar {
  border-radius: 50%;
  height: 100px;
  padding: 10px;
}
